<header>
  <div class="container-header">
    <div class="page-title">
      <h1><span class="hight-light">Sky </span>Space Scence</h1>
    </div>
    <nav>
      <ul>
        <span class="navigation-web">
          <li><a href=""><i class="fa fa-globe" aria-hidden="true"></i>
            </a></li>
          <li><a href=""><i class="fa fa-ravelry" aria-hidden="true"></i>
            </a></li>
          <li><a href=""><i class="fa fa-ship" aria-hidden="true"></i>
            </a></li>
          <li><a href=""><i class="fa fa-moon-o" aria-hidden="true"></i>
            </a></li>
          <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
        </span>
      </ul>
    </nav>
  </div>
</header>
<section id="description">
  <div class="container-description">
    <span></span>
    <span></span>
    <span></span>
    <div class="content-description">
      <p>
        <h3>Sky Beatiful</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
</section>
<section class="subcribe">
  <div class="subcribe-container">
    <h1>Registor for our web</h1>
    <form>
      <input type="email" placeholder="Please subcribe your email">
      <button type="submit" class="button-register-email">Register</button>
    </form>
  </div>
</section>
