<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="title is-3">
        <h1 class="pv5">Editing Job</h1>
        <%= render 'form', job: @job %></div>
      </div>
    </div>
  </div>
</section>
