<div class="column">
  <p class="panel-heading">Who to follow</p>
  <nav>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://bulma.io/images/placeholders/64x64.png" alt=""></figure>
        </div>
        <div class="media-content">
          <div class="content">
          </div>
          <p>
            <strong>John Smith</strong></p>
          <small>@johnsmith</small>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://bulma.io/images/placeholders/64x64.png" alt=""></figure>
        </div>
        <div class="media-content">
          <div class="content">
          </div>
          <p>
            <strong>John Smith</strong></p>
          <small>@johnsmith</small>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://bulma.io/images/placeholders/64x64.png" alt=""></figure>
        </div>
        <div class="media-content">
          <div class="content">
          </div>
          <p>
            <strong>John Smith</strong></p>
          <small>@johnsmith</small>
        </div>
      </article>
    </div>
  </nav>
</div>
